body{
      font-family: Arial, sans-serif;
      margin: 0;
      background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e7b55721-e87f-4747-95ad-a0d8aefa840c/dgtnk2v-ebe5ba54-fa41-430c-b120-7ef6b7fd122b.jpg/v1/fill/w_1192,h_670,q_70,strp/a_promise__by_jerinsirija_dgtnk2v-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcL2U3YjU1NzIxLWU4N2YtNDc0Ny05NWFkLWEwZDhhZWZhODQwY1wvZGd0bmsydi1lYmU1YmE1NC1mYTQxLTQzMGMtYjEyMC03ZWY2YjdmZDEyMmIuanBnIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.dwBzRW9cH4Uo3fNaIgIUQZv9_peEZMSYSEdq8K9D5Yc');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    header {
      background: #00000063;
      color: #fff;
      padding: 2rem;
      text-align: center;
    }
    header h1 {
      margin: 0;
      font-size: 2.5rem;
    }
    nav a {
      color: #ffcc66;
      margin: 0 10px;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 2rem;
      max-width: 800px;
      margin: auto;
    }
  
    footer {
      background: #00000063;
      color: #aaa;
      text-align: center;
      padding: 1rem;
      margin-top: 3rem;
      font-size: 0.9rem;
    }

    h2 {
        text-align: center;
        font-family: fantasy;
        padding-bottom: 0.5rem;
        color: aquamarine;
    }